*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f7;
    font-family: sans-serif;
   color:rgb(19, 17, 34) ;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding:24px 16px;
}
.box{
 background-color: whitesmoke;
   width: 250px;
   display: flex;
   flex-direction: column;
   justify-content: start;
   gap: 10px;
   padding: 20px;
   border-radius: 7px;
   box-shadow: 0px 10px 30px rgb(0, 0, 0,0.8);
   font-family: sans-serif;
}
.middle{
    background-color: rgb(19, 17, 34);
    color: white;
}
.btn{
background-color:rgb(19, 17, 34);
border: none;
border-radius: 2px;
padding: 10px;
color: whitesmoke;
border-radius: 20px;
margin-top:20px;

}
.amount{
    font-size:40px ;
}
img{
    width: 17px;
}
.middlebtn {
    background-color: white;
    color:rgb(19, 17, 34);
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top:20px;
}
.switching{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
   margin-top: 20px;
}

.switchbtn{
    border: solid 1px rgb(19, 17, 34);
    padding: 9px 3px;
    padding-bottom: 11px;
    border-radius: 19px;
    padding: 2px 2px;
    margin-top: 20px;
}

.switchbtn >  button{
    border: none;
    font-family: sans-serif;
}
.active{
      background: rgb(19, 17, 34);
  color: white;
  padding: 10px;
  border-radius: 20px;
}
